@charset "UTF-8";
/* CSS Document */

/* **************** GRIDS ***************** */
.line, .line2, .lastUnit {overflow: hidden;_overflow:visible;_zoom:1; }
.unit{float:left;_zoom:1;}
.unitExt{float:right;}
.size1of1{float:none;}


/* end marge*/
.line .size1of2{width:50%;}
.line .size1of3{width:33.33%;}
.line .size1of4{width:25%;}
.line .size1of5{width:20%;}
.line .size2of3{width:66.66%;}
.line .size2of5{width:40%;}
.line .size3of4{width:75%;}
.line .size3of5{width:60%;}
.line .size4of5{width:80%;}

/* marge */
.line2 .size1of2{width:49%;}
.line2 .size1of3{width:32%;}
.line2 .size1of4{width:23.5%;}
.line2 .size1of5{width:18.4%;}
.line2 .size2of3{width:66%;}
.line2 .size2of5{width:38.8%;}
.line2 .size3of4{width:74.5%;}
.line2 .size3of5{width:59.2%;}
.line2 .size4of5{width:79.6%;}

.line2 .unit {margin-left: 2%;}
.line2 .item-0 {margin-left: 0!important;}

.lastUnit {float:none;_position:relative; _left:-3px; _margin-right: -3px;width:auto;}
/* extending grids to allow a unit that takes the width of its content */
.media{width:auto;}
/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:35:30 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 166.712
  exclusion.robots: 0.097
  exclusion.robots.policy: 0.089
  cdx.remote: 0.062
  esindex: 0.008
  LoadShardBlock: 126.758 (3)
  PetaboxLoader3.datanode: 125.942 (4)
  CDXLines.iter: 17.529 (3)
  load_resource: 45.102
  PetaboxLoader3.resolve: 29.903
*/