/**
 * @file
 * Style Sheets for the Workflow_Admin_UI module.
 */
 
#workflow_admin_ui_overview .state-name input {
  margin-right: 2em; /* Make room for dragging handle. */
}

#workflow_admin_ui_overview .state-status {
  text-align: center;
}

#workflow_admin_ui_overview .state-count {
  text-align: right;
}

#workflow_admin_ui_overview th.state-ops {
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:31:06 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 248.421
  exclusion.robots: 0.073
  exclusion.robots.policy: 0.067
  cdx.remote: 0.052
  esindex: 0.008
  LoadShardBlock: 210.51 (3)
  PetaboxLoader3.datanode: 223.269 (4)
  CDXLines.iter: 17.823 (3)
  load_resource: 74.616
  PetaboxLoader3.resolve: 57.226
*/