
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:57:19 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 109.089
  exclusion.robots: 0.095
  exclusion.robots.policy: 0.087
  cdx.remote: 0.078
  esindex: 0.012
  LoadShardBlock: 80.558 (3)
  PetaboxLoader3.datanode: 81.989 (4)
  CDXLines.iter: 17.905 (3)
  load_resource: 45.493
  PetaboxLoader3.resolve: 30.26
*/