
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:27:38 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 116.654
  exclusion.robots: 0.105
  exclusion.robots.policy: 0.099
  cdx.remote: 0.058
  esindex: 0.008
  LoadShardBlock: 89.585 (3)
  PetaboxLoader3.datanode: 107.093 (4)
  CDXLines.iter: 13.601 (3)
  load_resource: 145.48
  PetaboxLoader3.resolve: 119.498
*/