@charset "UTF-8";
/* CSS Document */

/* root element for accordion. decorated with rounded borders and gradient background image */

/* accordion header */
.accordion .title-pane {
    cursor:pointer;
}

/* currently active header */
#accordion .title-pane.current {
    cursor:default;
}

/* accordion pane */
.accordion .pane {
    display:none;
}
/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:42:36 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 65.503
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.063
  cdx.remote: 0.054
  esindex: 0.008
  LoadShardBlock: 41.64 (3)
  PetaboxLoader3.datanode: 46.769 (4)
  CDXLines.iter: 14.763 (3)
  load_resource: 50.954
  PetaboxLoader3.resolve: 35.339
*/