
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:48:01 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 150.464
  exclusion.robots: 0.24
  exclusion.robots.policy: 0.221
  RedisCDXSource: 0.812
  esindex: 0.007
  LoadShardBlock: 127.659 (3)
  PetaboxLoader3.datanode: 138.622 (4)
  CDXLines.iter: 17.299 (3)
  load_resource: 43.784
  PetaboxLoader3.resolve: 29.103
*/