.ctools-locked {
  color: red;
  border: 1px solid red;
  padding: 1em;
}

.ctools-owns-lock {
  background: #FFFFDD none repeat scroll 0 0;
  border: 1px solid #F0C020;
  padding: 1em;
}

a.ctools-ajaxing,
input.ctools-ajaxing,
button.ctools-ajaxing,
select.ctools-ajaxing {
  padding-right: 18px !important;
  background: url(/web/20210702033214im_/https://www.centenaire.org/sites/all/modules/contrib/ctools/images/status-active.gif) right center no-repeat;
}

div.ctools-ajaxing {
  float: left;
  width: 18px;
  background: url(/web/20210702033214im_/https://www.centenaire.org/sites/all/modules/contrib/ctools/images/status-active.gif) center center no-repeat;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:35:50 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 84.893
  exclusion.robots: 0.091
  exclusion.robots.policy: 0.084
  cdx.remote: 0.06
  esindex: 0.008
  LoadShardBlock: 60.238 (3)
  PetaboxLoader3.datanode: 119.043 (4)
  CDXLines.iter: 13.296 (3)
  load_resource: 384.696
  PetaboxLoader3.resolve: 320.568
*/