
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:27:26 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 179.227
  exclusion.robots: 0.084
  exclusion.robots.policy: 0.077
  RedisCDXSource: 0.721
  esindex: 0.007
  LoadShardBlock: 161.016 (3)
  PetaboxLoader3.datanode: 178.219 (4)
  CDXLines.iter: 13.925 (3)
  load_resource: 60.009
  PetaboxLoader3.resolve: 32.378
*/