
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:44:11 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 99.733
  exclusion.robots: 0.082
  exclusion.robots.policy: 0.076
  RedisCDXSource: 0.46
  esindex: 0.007
  LoadShardBlock: 77.496 (3)
  PetaboxLoader3.datanode: 81.638 (4)
  CDXLines.iter: 18.269 (3)
  load_resource: 247.148
  PetaboxLoader3.resolve: 232.742
*/