
tr.taxonomy-term-preview {
  background-color: #EEE;
}
tr.taxonomy-term-divider-top {
  border-bottom: none;
}
tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #CCC;
}
.taxonomy-term-description {
  margin: 5px 0 20px;
}

/*
     FILE ARCHIVED ON 22:32:44 Apr 30, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:06:12 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 5116.781
  exclusion.robots: 0.073
  exclusion.robots.policy: 0.067
  cdx.remote: 0.062
  esindex: 0.007
  LoadShardBlock: 5087.672 (3)
  PetaboxLoader3.datanode: 5126.618 (5)
  CDXLines.iter: 15.0 (3)
  load_resource: 167.293 (2)
  PetaboxLoader3.resolve: 65.692 (2)
*/