
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:08:35 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 61.847
  exclusion.robots: 0.095
  exclusion.robots.policy: 0.088
  RedisCDXSource: 3.856
  esindex: 0.008
  LoadShardBlock: 40.824 (3)
  PetaboxLoader3.datanode: 89.307 (4)
  CDXLines.iter: 12.949 (3)
  load_resource: 176.541
  PetaboxLoader3.resolve: 117.764
*/