@charset "UTF-8";
/* CSS Document */

/* root element for accordion. decorated with rounded borders and gradient background image */

/* accordion header */
.accordion .title-pane {
    cursor:pointer;
}

/* currently active header */
#accordion .title-pane.current {
    cursor:default;
}

/* accordion pane */
.accordion .pane {
    display:none;
}
/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:44:20 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 89.519
  exclusion.robots: 0.102
  exclusion.robots.policy: 0.093
  RedisCDXSource: 0.52
  esindex: 0.007
  LoadShardBlock: 61.684 (3)
  PetaboxLoader3.datanode: 61.855 (4)
  CDXLines.iter: 22.584 (3)
  load_resource: 108.701
  PetaboxLoader3.resolve: 72.213
*/