
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:43:49 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 128.856
  exclusion.robots: 0.104
  exclusion.robots.policy: 0.095
  RedisCDXSource: 6.79
  esindex: 0.009
  LoadShardBlock: 98.031 (3)
  PetaboxLoader3.datanode: 111.111 (4)
  CDXLines.iter: 20.032 (3)
  load_resource: 83.991
  PetaboxLoader3.resolve: 34.878
*/