
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 03:08:22 Jun 21, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:53:10 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 102.527
  exclusion.robots: 0.1
  exclusion.robots.policy: 0.091
  cdx.remote: 0.071
  esindex: 0.011
  LoadShardBlock: 55.215 (3)
  PetaboxLoader3.datanode: 69.447 (4)
  CDXLines.iter: 16.172 (3)
  load_resource: 48.338
  PetaboxLoader3.resolve: 23.539
*/