
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:35:26 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 179.468
  exclusion.robots: 0.128
  exclusion.robots.policy: 0.119
  RedisCDXSource: 0.671
  esindex: 0.009
  LoadShardBlock: 150.734 (3)
  PetaboxLoader3.datanode: 168.618 (4)
  CDXLines.iter: 22.947 (3)
  load_resource: 59.067
  PetaboxLoader3.resolve: 34.77
*/