a.reset-agenda-date {
	font-size:12px;
	color:#303639;
	margin:10px auto 0;
	text-decoration:underline;
	display:none;
}
a.reset-agenda-date:link, 
a.reset-agenda-date:visited {
	color:#303639;
	text-decoration:underline;
}
a.reset-agenda-date.show {
	display:table;
}
/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:37:27 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 198.842
  exclusion.robots: 0.076
  exclusion.robots.policy: 0.07
  RedisCDXSource: 0.606
  esindex: 0.006
  LoadShardBlock: 178.588 (3)
  PetaboxLoader3.datanode: 213.521 (4)
  CDXLines.iter: 15.755 (3)
  load_resource: 219.137
  PetaboxLoader3.resolve: 180.447
*/