
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:31:00 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 67.795
  exclusion.robots: 0.095
  exclusion.robots.policy: 0.087
  RedisCDXSource: 0.503
  esindex: 0.008
  LoadShardBlock: 50.279 (3)
  PetaboxLoader3.datanode: 64.39 (4)
  CDXLines.iter: 13.669 (3)
  load_resource: 81.82
  PetaboxLoader3.resolve: 47.58
*/