
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:17:56 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 71.134
  exclusion.robots: 0.125
  exclusion.robots.policy: 0.116
  RedisCDXSource: 0.499
  esindex: 0.009
  LoadShardBlock: 44.655 (3)
  PetaboxLoader3.datanode: 58.618 (4)
  CDXLines.iter: 21.645 (3)
  load_resource: 43.636
  PetaboxLoader3.resolve: 27.39
*/