a.reset-agenda-date {
	font-size:12px;
	color:#303639;
	margin:10px auto 0;
	text-decoration:underline;
	display:none;
}
a.reset-agenda-date:link, 
a.reset-agenda-date:visited {
	color:#303639;
	text-decoration:underline;
}
a.reset-agenda-date.show {
	display:table;
}
/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:27:51 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 193.93
  exclusion.robots: 0.164
  exclusion.robots.policy: 0.153
  cdx.remote: 0.093
  esindex: 0.011
  LoadShardBlock: 132.827 (3)
  PetaboxLoader3.datanode: 159.068 (4)
  CDXLines.iter: 20.356 (3)
  load_resource: 123.558
  PetaboxLoader3.resolve: 91.444
*/