a.reset-agenda-date {
	font-size:12px;
	color:#303639;
	margin:10px auto 0;
	text-decoration:underline;
	display:none;
}
a.reset-agenda-date:link, 
a.reset-agenda-date:visited {
	color:#303639;
	text-decoration:underline;
}
a.reset-agenda-date.show {
	display:table;
}
/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:22:49 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 95.491
  exclusion.robots: 0.148
  exclusion.robots.policy: 0.137
  RedisCDXSource: 0.618
  esindex: 0.009
  LoadShardBlock: 66.881 (3)
  PetaboxLoader3.datanode: 89.445 (4)
  CDXLines.iter: 22.225 (3)
  load_resource: 57.183
  PetaboxLoader3.resolve: 31.339
*/