
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:53:12 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 169.185
  exclusion.robots: 0.099
  exclusion.robots.policy: 0.092
  RedisCDXSource: 0.505
  esindex: 0.007
  LoadShardBlock: 151.529 (3)
  PetaboxLoader3.datanode: 165.729 (4)
  CDXLines.iter: 14.201 (3)
  load_resource: 46.678
  PetaboxLoader3.resolve: 28.355
*/