
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:53:55 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 336.286
  exclusion.robots: 0.101
  exclusion.robots.policy: 0.092
  cdx.remote: 0.07
  esindex: 0.009
  LoadShardBlock: 278.267 (3)
  PetaboxLoader3.datanode: 295.265 (4)
  CDXLines.iter: 16.813 (3)
  load_resource: 70.85
  PetaboxLoader3.resolve: 49.153
*/