/**
 * @file
 * Style Sheets for the Workflow_Admin_UI module.
 */
 
#workflow_admin_ui_overview .state-name input {
  margin-right: 2em; /* Make room for dragging handle. */
}

#workflow_admin_ui_overview .state-status {
  text-align: center;
}

#workflow_admin_ui_overview .state-count {
  text-align: right;
}

#workflow_admin_ui_overview th.state-ops {
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:18:01 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 79.258
  exclusion.robots: 0.122
  exclusion.robots.policy: 0.112
  RedisCDXSource: 0.61
  esindex: 0.009
  LoadShardBlock: 41.785 (3)
  PetaboxLoader3.datanode: 56.219 (4)
  CDXLines.iter: 14.596 (3)
  load_resource: 46.529
  PetaboxLoader3.resolve: 29.537
*/