
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:05:40 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 92.709
  exclusion.robots: 0.114
  exclusion.robots.policy: 0.106
  cdx.remote: 0.071
  esindex: 0.011
  LoadShardBlock: 57.312 (3)
  PetaboxLoader3.datanode: 45.513 (4)
  CDXLines.iter: 23.582 (3)
  load_resource: 40.853
  PetaboxLoader3.resolve: 28.57
*/