a.reset-agenda-date {
	font-size:12px;
	color:#303639;
	margin:10px auto 0;
	text-decoration:underline;
	display:none;
}
a.reset-agenda-date:link, 
a.reset-agenda-date:visited {
	color:#303639;
	text-decoration:underline;
}
a.reset-agenda-date.show {
	display:table;
}
/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:54:15 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 70.077
  exclusion.robots: 0.079
  exclusion.robots.policy: 0.072
  RedisCDXSource: 0.539
  esindex: 0.007
  LoadShardBlock: 51.167 (3)
  PetaboxLoader3.datanode: 56.609 (4)
  CDXLines.iter: 14.64 (3)
  load_resource: 73.243
  PetaboxLoader3.resolve: 56.793
*/