
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:42:30 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 69.345
  exclusion.robots: 0.133
  exclusion.robots.policy: 0.123
  cdx.remote: 0.075
  esindex: 0.009
  LoadShardBlock: 42.858 (3)
  PetaboxLoader3.datanode: 56.891 (4)
  CDXLines.iter: 16.62 (3)
  load_resource: 57.753
  PetaboxLoader3.resolve: 28.312
*/