@charset "UTF-8";
/* CSS Document */

/* root element for accordion. decorated with rounded borders and gradient background image */

/* accordion header */
.accordion .title-pane {
    cursor:pointer;
}

/* currently active header */
#accordion .title-pane.current {
    cursor:default;
}

/* accordion pane */
.accordion .pane {
    display:none;
}
/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:23:29 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 97.383
  exclusion.robots: 0.115
  exclusion.robots.policy: 0.105
  cdx.remote: 0.083
  esindex: 0.01
  LoadShardBlock: 33.307 (3)
  PetaboxLoader3.datanode: 49.702 (4)
  CDXLines.iter: 21.112 (3)
  load_resource: 53.713
  PetaboxLoader3.resolve: 32.695
*/