
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:30:50 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 148.697
  exclusion.robots: 0.164
  exclusion.robots.policy: 0.152
  cdx.remote: 0.098
  esindex: 0.01
  LoadShardBlock: 111.877 (3)
  PetaboxLoader3.datanode: 70.892 (4)
  CDXLines.iter: 20.396 (3)
  load_resource: 67.294
  PetaboxLoader3.resolve: 40.184
*/