
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:54:32 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 117.79
  exclusion.robots: 0.176
  exclusion.robots.policy: 0.163
  cdx.remote: 0.102
  esindex: 0.013
  LoadShardBlock: 56.143 (3)
  PetaboxLoader3.datanode: 66.051 (4)
  CDXLines.iter: 20.999 (3)
  load_resource: 130.501
  PetaboxLoader3.resolve: 83.004
*/