
.search-form {
  margin-bottom: 1em;
}
.search-form input {
  margin-top: 0;
  margin-bottom: 0;
}
.search-results {
  list-style: none;
}
.search-results p {
  margin-top: 0;
}
.search-results .title {
  font-size: 1.2em;
}
.search-results li {
  margin-bottom: 1em;
}
.search-results .search-snippet-info {
  padding-left: 1em; /* LTR */
}
.search-results .search-info {
  font-size: 0.85em;
}
.search-advanced .criterion {
  float: left; /* LTR */
  margin-right: 2em; /* LTR */
}
.search-advanced .action {
  float: left; /* LTR */
  clear: left; /* LTR */
}

/*
     FILE ARCHIVED ON 08:14:39 Jul 13, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:16:44 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 101.671
  exclusion.robots: 0.609
  exclusion.robots.policy: 0.601
  cdx.remote: 0.082
  esindex: 0.009
  LoadShardBlock: 75.556 (3)
  PetaboxLoader3.datanode: 183.526 (4)
  CDXLines.iter: 12.922 (3)
  load_resource: 138.228
*/