
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 14:34:45 Mar 23, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:32:41 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 111.033
  exclusion.robots: 0.237
  exclusion.robots.policy: 0.226
  cdx.remote: 0.18
  esindex: 0.019
  LoadShardBlock: 84.128 (3)
  PetaboxLoader3.datanode: 107.556 (4)
  CDXLines.iter: 14.24 (3)
  load_resource: 155.567
  PetaboxLoader3.resolve: 75.414
*/