
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:43:59 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 96.238
  exclusion.robots: 0.155
  exclusion.robots.policy: 0.144
  cdx.remote: 0.108
  esindex: 0.013
  LoadShardBlock: 54.841 (3)
  PetaboxLoader3.datanode: 70.368 (4)
  CDXLines.iter: 24.837 (3)
  load_resource: 43.447
  PetaboxLoader3.resolve: 23.616
*/