
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:05:51 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 57.403
  exclusion.robots: 0.201
  exclusion.robots.policy: 0.192
  RedisCDXSource: 0.504
  esindex: 0.007
  LoadShardBlock: 35.038 (3)
  PetaboxLoader3.datanode: 47.657 (4)
  CDXLines.iter: 18.284 (3)
  load_resource: 60.205
  PetaboxLoader3.resolve: 43.549
*/