
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:51:52 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 203.927
  exclusion.robots: 0.225
  exclusion.robots.policy: 0.208
  cdx.remote: 0.141
  esindex: 0.019
  LoadShardBlock: 35.987 (3)
  PetaboxLoader3.datanode: 50.17 (4)
  CDXLines.iter: 18.812 (3)
  load_resource: 38.896
*/