
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:10:46 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 140.948
  exclusion.robots: 0.088
  exclusion.robots.policy: 0.082
  cdx.remote: 0.059
  esindex: 0.008
  LoadShardBlock: 120.107 (3)
  PetaboxLoader3.datanode: 134.987 (4)
  CDXLines.iter: 12.853 (3)
  load_resource: 77.221
  PetaboxLoader3.resolve: 29.253
*/