
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 08:14:44 Jul 13, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:16:41 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1649.285
  exclusion.robots: 0.084
  exclusion.robots.policy: 0.077
  cdx.remote: 0.052
  esindex: 0.006
  LoadShardBlock: 1338.414 (3)
  PetaboxLoader3.datanode: 1403.983 (4)
  CDXLines.iter: 13.949 (3)
  load_resource: 280.384
  PetaboxLoader3.resolve: 172.705
*/