
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 03:08:22 Jun 21, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:25:00 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 62.37
  exclusion.robots: 0.118
  exclusion.robots.policy: 0.108
  cdx.remote: 0.082
  esindex: 0.011
  LoadShardBlock: 31.149 (3)
  PetaboxLoader3.datanode: 43.879 (4)
  CDXLines.iter: 20.844 (3)
  load_resource: 80.507
  PetaboxLoader3.resolve: 27.209
*/