
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:57:32 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 258.54
  exclusion.robots: 0.079
  exclusion.robots.policy: 0.072
  cdx.remote: 0.055
  esindex: 0.008
  LoadShardBlock: 75.544 (3)
  PetaboxLoader3.datanode: 93.562 (4)
  CDXLines.iter: 12.651 (3)
  load_resource: 80.752
  PetaboxLoader3.resolve: 57.86
*/