@charset "UTF-8";
/* CSS Document */

/* root element for accordion. decorated with rounded borders and gradient background image */

/* accordion header */
.accordion .title-pane {
    cursor:pointer;
}

/* currently active header */
#accordion .title-pane.current {
    cursor:default;
}

/* accordion pane */
.accordion .pane {
    display:none;
}
/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:10:13 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 96.605
  exclusion.robots: 0.111
  exclusion.robots.policy: 0.101
  cdx.remote: 0.077
  esindex: 0.009
  LoadShardBlock: 53.392 (3)
  PetaboxLoader3.datanode: 61.884 (4)
  CDXLines.iter: 16.298 (3)
  load_resource: 92.688
  PetaboxLoader3.resolve: 54.95
*/