
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:40:59 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 104.714
  exclusion.robots: 0.092
  exclusion.robots.policy: 0.086
  RedisCDXSource: 6.059
  esindex: 0.008
  LoadShardBlock: 82.118 (3)
  PetaboxLoader3.datanode: 125.633 (4)
  CDXLines.iter: 13.475 (3)
  load_resource: 130.101
  PetaboxLoader3.resolve: 53.07
*/