@charset "UTF-8";
/* CSS Document */

/* root element for accordion. decorated with rounded borders and gradient background image */

/* accordion header */
.accordion .title-pane {
    cursor:pointer;
}

/* currently active header */
#accordion .title-pane.current {
    cursor:default;
}

/* accordion pane */
.accordion .pane {
    display:none;
}
/*
     FILE ARCHIVED ON 14:34:45 Mar 23, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:32:55 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 446.019
  exclusion.robots: 0.141
  exclusion.robots.policy: 0.13
  cdx.remote: 0.089
  esindex: 0.012
  LoadShardBlock: 85.389 (3)
  PetaboxLoader3.datanode: 111.776 (4)
  CDXLines.iter: 13.787 (3)
  load_resource: 74.134
  PetaboxLoader3.resolve: 42.763
*/