/**
 * @file
 * Style Sheets for the Workflow_Admin_UI module.
 */
 
#workflow_admin_ui_overview .state-name input {
  margin-right: 2em; /* Make room for dragging handle. */
}

#workflow_admin_ui_overview .state-status {
  text-align: center;
}

#workflow_admin_ui_overview .state-count {
  text-align: right;
}

#workflow_admin_ui_overview th.state-ops {
}

/*
     FILE ARCHIVED ON 08:14:43 Jul 13, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:16:46 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 262.779
  exclusion.robots: 0.081
  exclusion.robots.policy: 0.074
  cdx.remote: 0.063
  esindex: 0.009
  LoadShardBlock: 102.717 (3)
  PetaboxLoader3.datanode: 107.102 (4)
  CDXLines.iter: 13.769 (3)
  load_resource: 68.725
  PetaboxLoader3.resolve: 39.814
*/