
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:54:47 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 75.683
  exclusion.robots: 0.136
  exclusion.robots.policy: 0.123
  RedisCDXSource: 6.189
  esindex: 0.011
  LoadShardBlock: 51.801 (3)
  PetaboxLoader3.datanode: 121.895 (4)
  CDXLines.iter: 14.203 (3)
  load_resource: 115.914
  PetaboxLoader3.resolve: 42.695
*/