
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:08:20 Jun 21, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:52:53 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 80.805
  exclusion.robots: 0.084
  exclusion.robots.policy: 0.077
  cdx.remote: 0.059
  esindex: 0.008
  LoadShardBlock: 39.456 (3)
  PetaboxLoader3.datanode: 50.394 (4)
  CDXLines.iter: 14.581 (3)
  load_resource: 73.615
  PetaboxLoader3.resolve: 43.742
*/