a.reset-agenda-date {
	font-size:12px;
	color:#303639;
	margin:10px auto 0;
	text-decoration:underline;
	display:none;
}
a.reset-agenda-date:link, 
a.reset-agenda-date:visited {
	color:#303639;
	text-decoration:underline;
}
a.reset-agenda-date.show {
	display:table;
}
/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:35:45 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 55.574
  exclusion.robots: 0.081
  exclusion.robots.policy: 0.072
  cdx.remote: 0.06
  esindex: 0.008
  LoadShardBlock: 25.29 (3)
  PetaboxLoader3.datanode: 46.982 (4)
  CDXLines.iter: 17.242 (3)
  load_resource: 69.886
  PetaboxLoader3.resolve: 45.56
*/