.ctools-locked {
  color: red;
  border: 1px solid red;
  padding: 1em;
}

.ctools-owns-lock {
  background: #FFFFDD none repeat scroll 0 0;
  border: 1px solid #F0C020;
  padding: 1em;
}

a.ctools-ajaxing,
input.ctools-ajaxing,
button.ctools-ajaxing,
select.ctools-ajaxing {
  padding-right: 18px !important;
  background: url(/web/20210323143445im_/https://www.centenaire.org/sites/all/modules/contrib/ctools/images/status-active.gif) right center no-repeat;
}

div.ctools-ajaxing {
  float: left;
  width: 18px;
  background: url(/web/20210323143445im_/https://www.centenaire.org/sites/all/modules/contrib/ctools/images/status-active.gif) center center no-repeat;
}

/*
     FILE ARCHIVED ON 14:34:45 Mar 23, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:33:15 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 407.134
  exclusion.robots: 0.099
  exclusion.robots.policy: 0.09
  cdx.remote: 0.068
  esindex: 0.009
  LoadShardBlock: 244.098 (3)
  PetaboxLoader3.datanode: 264.582 (4)
  CDXLines.iter: 19.895 (3)
  load_resource: 68.456
  PetaboxLoader3.resolve: 44.5
*/