a.reset-agenda-date {
	font-size:12px;
	color:#303639;
	margin:10px auto 0;
	text-decoration:underline;
	display:none;
}
a.reset-agenda-date:link, 
a.reset-agenda-date:visited {
	color:#303639;
	text-decoration:underline;
}
a.reset-agenda-date.show {
	display:table;
}
/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:31:11 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 870.796
  exclusion.robots: 0.096
  exclusion.robots.policy: 0.088
  cdx.remote: 0.068
  esindex: 0.009
  LoadShardBlock: 82.645 (3)
  PetaboxLoader3.datanode: 83.437 (4)
  CDXLines.iter: 20.519 (3)
  load_resource: 73.557
  PetaboxLoader3.resolve: 42.699
*/