
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:53:24 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 145.57
  exclusion.robots: 0.098
  exclusion.robots.policy: 0.088
  cdx.remote: 0.071
  esindex: 0.011
  LoadShardBlock: 45.392 (3)
  PetaboxLoader3.datanode: 49.611 (4)
  CDXLines.iter: 15.949 (3)
  load_resource: 58.436
  PetaboxLoader3.resolve: 43.47
*/