
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:47:47 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 116.302
  exclusion.robots: 0.103
  exclusion.robots.policy: 0.094
  RedisCDXSource: 8.105
  esindex: 0.011
  LoadShardBlock: 84.04 (3)
  PetaboxLoader3.datanode: 92.903 (4)
  CDXLines.iter: 19.081 (3)
  load_resource: 46.798
  PetaboxLoader3.resolve: 34.324
*/