
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:10:03 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 105.3
  exclusion.robots: 0.159
  exclusion.robots.policy: 0.146
  cdx.remote: 0.121
  esindex: 0.016
  LoadShardBlock: 68.207 (3)
  PetaboxLoader3.datanode: 85.624 (4)
  CDXLines.iter: 22.035 (3)
  load_resource: 66.976
  PetaboxLoader3.resolve: 24.734
*/