
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

/*
     FILE ARCHIVED ON 14:34:45 Mar 23, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:32:59 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 65.312
  exclusion.robots: 0.083
  exclusion.robots.policy: 0.076
  RedisCDXSource: 0.552
  esindex: 0.007
  LoadShardBlock: 47.786 (3)
  PetaboxLoader3.datanode: 77.739 (4)
  CDXLines.iter: 13.785 (3)
  load_resource: 115.515
  PetaboxLoader3.resolve: 32.806
*/