/**
 * @file
 * Stylesheet used to provide align and wrap functionality for atoms
 *
 * It is automatically included when the DnD plugin is used.
 */

.atom-align-right {
  float: right;
}

.atom-align-left {
  float: left;
}

.atom-align-center {
  margin: 0 auto;
  display: table;
}

/**
 * The following rules make legend look nice with responsive images.
 */
.dnd-atom-wrapper {
  display: table;
}
.dnd-drop-wrapper img {
  max-width: 100%;
  height: auto;
}
.dnd-legend-wrapper {
  display: table-caption;
  caption-side: bottom;
}

/*
     FILE ARCHIVED ON 03:32:14 Jul 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:37:14 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 77.09
  exclusion.robots: 0.103
  exclusion.robots.policy: 0.096
  RedisCDXSource: 1.664
  esindex: 0.005
  LoadShardBlock: 56.698 (3)
  PetaboxLoader3.datanode: 55.632 (4)
  CDXLines.iter: 14.451 (3)
  load_resource: 86.527
  PetaboxLoader3.resolve: 54.128
*/